body {
  -webkit-font-smoothing: antialiased; }

.btn.w-fix {
  padding-left: 2rem;
  padding-right: 2rem; }

#navbar {
  background-color: rgba(0, 0, 0, 0.85);
  transition: 0.3s; }
  #navbar .navbar-brand img {
    height: 30px; }
  #navbar.shrink {
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: rgba(0, 0, 0, 0.85); }

.section-common {
  padding: 4rem 0; }
  .section-common.alt {
    background-color: #F5F7F6;
    border: 1px solid rgba(0, 0, 0, 0.02);
    border-width: 1px 0; }
  .section-common.network-bg {
    background: #000;
    background-size: cover; }

.section-title {
  margin-bottom: 50px;
  position: relative;
  z-index: 1; }

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.section-welcome {
  padding: 7rem 0 3rem;
  background: url("/assets/img/background.jpg") center;
  background-size: cover;
  color: #FFF;
  font-size: 1.25rem;
  position: relative;
  z-index: 1; }
  .section-welcome::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;}
  .section-welcome p {
    line-height: 1.5; }
  .section-welcome img {
    max-width: 100%; }

@media (min-width: 768px) {
  #navbar {
    padding-top: 1.6875rem;
    padding-bottom: 1.6875rem;
    background-color: transparent; }
  .section-welcome {
    padding: 10rem 0 7rem;
    font-size: 1.5rem; } }

.city-item {
  /* background: url("../img/city-hz.svg") center 65px no-repeat; */
  color: #30D2BD; }
  .city-item time {
    margin-bottom: 55px;
    display: block; }
  .city-item h4 {
    margin: .25rem 0; }
  .city-item.city-bj {
    /* background-image: url("../img/city-bj.svg"); */
    color: #13C6CC; }
  .city-item.city-gz {
    /* background-image: url("../img/city-gz.svg"); */
    color: #84C387; }
  .city-item.city-hk {
    /* background-image: url("../img/city-hk.svg"); */
    color: #F9A139; }

.qq-group {
  position: relative; }
  .qq-group img {
    position: absolute;
    left: 0;
    top: -100px;
    display: none; }
  .qq-group:hover img {
    display: block; }

.award-item {
  overflow: hidden;
  border: none; }
  .award-item .card-body {
    padding: 0; }
  .award-item .card-title {
    margin: 0;
    padding: 1.75rem 1.25rem;
    background: linear-gradient(135deg, #FF5722, #FFAB91);
    color: #FFF; }
  .award-item .card-title-2 {
    background: linear-gradient(135deg, #3A63DA, #359DF4); }
  .award-item .card-title-3 {
    background: linear-gradient(135deg, #90C657, #CFDE4F); }
  .award-item .card-title-4 {
    background: linear-gradient(135deg, #49C2D7, #ABF0EB); }
  .award-item .card-title-5 {
    background: linear-gradient(135deg, #F57F6A, #F5D28E); }
  .award-item .card-title-6 {
    background: linear-gradient(135deg, #9C27B0, #CE93D8); }
  .award-item .card-text {
    padding: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top: none;
    border-radius: 0 0 .25rem .25rem; }

.section-agenda ul {
  margin-left: 5px;
  padding-left: 30px;
  border-left: 2px solid #42A5F5; }

.section-agenda li {
  margin: .5rem 0; }

.section-agenda time {
  display: inline-block;
  width: 120px; }

.section-links img {
  margin: .5rem 30px; }

.list-socials {
  font-size: 1.75rem;
  line-height: 1;
  margin: 0; }
  .list-socials a {
    color: rgba(255, 255, 255, 0.35); }
  .list-socials a:hover {
    color: rgba(255, 255, 255, 0.75); }
  .list-socials .list-inline-item:not(:last-child) {
    margin-right: .25rem; }

.submit-form {
  padding-top: 15px;
  background: #f5f7f6;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  overflow: hidden; }
.brand {
  display: flex;
  align-items: center;
}